<main id="main">
	<h1>Appointement</h1>
	<div><a href="{{ path('app_appointement_new') }}"  class="btn btn-primary mt-3">ajouter RDV </a></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Email</th>
				<th scope="col">Tel</th>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				<th class='text-center' scope="col" colspan="3">actions</th>
			</tr>
		</thead>
		<tbody>
		{# afficher le rendez-vous par role user #}
		{% if is_granted("ROLE_ADMIN") %}
			{% set listeAffiche = toutsAppointement %}
		{% else %}
			{% set listeAffiche = appointements %}
		{% endif %}
			{% for appointement in listeAffiche %}
				<tr>
					<td scope="row">{{appointement.titre}}</td>
					<td>{{ appointement.date ? appointement.date|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ appointement.email }}</td>
					<td>{{ appointement.tel }}</td>
					<td>{{ appointement.nom }}</td>
					<td>{{ appointement.prenom }}</td>
					<td>
						<td>
						<a href="{{ path('app_appointement_edit', {'id': appointement.id}) }}"><button class='btn btn-outline-success'>Modifier</button></a>
						</td>
						<td>{{ include('appointement/_delete_form.html.twig') }}
						</td>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">il n'y a pas des rendez-vous</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</main>
